<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
</head>
<body>

	<h2>Project</h2>

	<table id="tabla">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Surname</th>
			<th>DNI</th>
			<th>Phone</th>
			<th>Adress</th>
			<th>Year Studied</th>
			<th>Subjects</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<tbody>
			<tr th:each="student:${students}">
				<th scope="row" th:text="${student.id}"></th>
				<td th:text="${student.name}"></td>
				<td th:text="${student.surname}"></td>
				<td th:text="${student.dni}"></td>
				<td th:text="${student.phone}"></td>
				<td th:text="${student.adress}"></td>
				<td th:text="${student.yearStudied}"></td>
				<td th:text="${student.subjects}"></td>
				<td>
					<a th:href="@{/views/students/update/} + ${student.id}" th:text="Edit"></a>
				</td>
				<td>
				<a th:href="@{/views/students/delete/} + ${student.id}" th:text="Delete"
					onclick="return confirm('seguro de eliminar el registo')"></a>
				</td>
			</tr>
		</tbody>
	</table>

	<br>
	<br>
	<br>

	<a th:href="@{register}" th:text="Register"></a>
	<br>
</body>
</html>